<!doctype html>
<html ng-app>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script>
    function MainCtrl($scope){
        $scope.getBmiString=function(input){
            if(isNaN(input)){
                return "I can't caculate your BMI";
            }else{
                return "Your BMI is ["+input+"]";
            }    
        }
    }
    </script>
  </head>
  <body ng-controller="MainCtrl">
    <div>
        <form>
          <fieldset>
            <legend>BMI計算:</legend>
            Height: <input type="text" ng-model="urHeight" placeholder="Enter your height">cm<br>
            Weight:<input type="text" ng-model="urWeight" placeholder="Enter your weight">kg<br>
          </fieldset>
        </form>
        <h1>{{getBmiString(urWeight/(urHeight*urHeight)*10000)}}</h1>
    </div>
  </body>
</html>